<!DOCTYPE html>
<html>
  <head>
    {% include 'title-and-meta.njk' %}
    <link rel="stylesheet" href="{{ '/css/output.css' | url }}">
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
      <section>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </section>
    </main>

    {% include 'footer.njk' %}
  </body>
</html>