<!DOCTYPE html>
<html>
  <head>
    {% include 'title-and-meta.njk' %}
    <link rel="stylesheet" href="{{ '/css/output.css' | url }}">
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
      <section>
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
          <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-black">{{ title }}</h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Every day is a journey, and the journey itself is home.</p>
      </div> 
        {{ content | safe }}
      </section>
    </main>

    {% include 'footer.njk' %}
  </body>
</html>