<section>
<div>
{%- if tag == 'emma' -%}
	{%- for post in collections.emma | reverse -%}
	{%- include 'post-card.njk' -%}
	{%- endfor -%}
{%- elsif tag == 'conor' -%}
	{%- for post in collections.conor | reverse -%}
	{%- include 'post-card.njk' -%}
	{%- endfor -%}
{%- else -%}
	{%- for post in collections.posts | reverse -%}
	{%- include 'post-card.njk' -%}
	{%- endfor -%}
{% endif %}
</div>
