<section>
<div>
	{%- for post in collections.posts | reverse -%}
	<li>
      <a href="{{ post.url | url }}">{{ post.data.pageTitle }}</a>
      <em>{{ post.date | date: "%Y-%m-%d" }}</em>
    </li>
	{%- endfor -%}
</div>
</section>