<header>
	<div>
		<div>
			Everyday Journal
		</div>
        <nav>
            <a href="{{ '/' | url }}">HOME</a>
            <a href="{{ '/about/' | url }}">ABOUT</a>
            
        </nav>
	</div>
</header>