{%- if tag == 'home-page' -%}
<title>Everyday Journal</title>
<meta name="description" content="Home">
{%- elif tag == 'about-page' -%}
<title>About</title>
<meta name="description" content="About">
{%- endif -%}