{%- if tag == 'home-page' -%}
<title>Everyday Journal</title>
<meta name="description" content="This is the home page description.">
{%- elif tag == 'about-page' -%}
<title>About</title>
<meta name="description" content="This is the about page description.">
{%- endif -%}