<title>Everyday Journal - {{ title }}</title>

{%- if tag == 'home-page' -%}
  <meta name="description" content="Home">
  {%- elif tag == 'about-page' -%}
  <meta name="description" content="About">
{%- endif -%}