<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle}}</title>
        <link rel="stylesheet" href="/css/system.css">
    </head>
    <body>
        <main class="text-content">
            <h1>{{ pageTitle }}</h1>
            {{ content }}
        <main>
        <a href="/">Back to Home</a>
    </body>
</html>